<td colspan="7">
<div class="form-horizontal" >
<form row_id="{% if row.id %}{{ row.id }}{% endif %}" class="form-inline" method="post" id="row_form" action="{% url order:row_save %}">

  {{ form.order }}
  {{ form.id }}
    <div class="control-group">
      <span class="help-inline">Услуга:{{ form.item }}</span>
  </div>
  <div class="control-group">
  <span class="help-inline ">Сумма: {{ form.price_sum }}</span>
  <span class="help-inline">Материалы: {{ form.price_mat }}</span>
  </div>
  <div class="control-group">
  <span class="help-inline">Расходы: {{ form.price_trans }}</span>
  <span class="help-inline">Зарплата: {{ form.price_zp }}</span><br>
  </div>
  <div class="control-group">
  <span class="help-inline">Комментарий:{{ form.comment }} <input type="submit" class="btn save_row"></span>
  </div>
</form>
</div>
</td>