textarea{width: 90%; clear: both; height: 200px;}

body {
    color: #606060;
    font: 0.81em/1.92em Arial,Helvetica,sans-serif;
    margin: 0;
}
a {
    color: #1F85C5;
}
a:hover {
    text-decoration: none;
}
.likea {
    border-bottom: 1px dotted #1F85C5;
    color: #1F85C5;
    cursor: pointer;
}
.dialogTitle, .zagh1 {
    font-size: 24px;
    margin: 0.4em 16px 16px 0;
}
.zag2 {
    color: #82A512;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}
h1 {
    clear: both;
    display: block;
    margin-bottom: 5px;
}
.top_menu {
    display: none;
}
select.yesno {
    width: 70px;
}
.left_col, .right_col {
    float: left;
    width: 410px;
}
.left_col {
    margin-right: 75px;
}
.left_col li, .right_col li {
    display: block;
    list-style: none outside none;
}
.right {
    float: right;
}
.right div {
    float: right;
}
div.inline {
    display: inline;
    float: left;
}
ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.f {
    width: inherit;
}
.container {
    margin: 0 auto;
    min-height: 500px;
    position: relative;
    top: 0;
    width: 1200px;
}
.ttline {
    background-color: #98BD1E;
    color: #FFFFFF;
    height: 25px;
    width: 100%;
}
.login {
    font-weight: 700;
    padding: 0 5px;
}
.ttline .small_gray_button {
    margin: 2px 5px 0 0;
}
.left_row {
    float: left;
    min-height: 480px;
    padding-top: 5px;
    width: 200px;
}
ul.lm ul {
    padding-left: 10px;
}
ul.lm .zag {
    display: block;
    font-size: 18px;
    padding-top: 7px;
}
.main_row {
    float: left;
    width: 1000px;
}
.top_menu {
    background-image: url("main_menu.png");
    background-position: 0 -44px;
    height: 40px;
    list-style: none outside none;
    margin-top: 30px;
    width: 100%;
    z-index: 1;
}
.top_menu li {
    cursor: pointer;
    display: inline-block;
    margin-right: -3px;
}
.top_menu2 {
    height: 30px;
    width: 100%;
}
.main {
    width: 100%;
}
table.table {
    clear: both;
}
table.table th {
    background: url("TableSprite.png") no-repeat scroll 0 -58px transparent;
    color: #606060;
    font: 11px Arial,Helvetica,sans-serif;
    height: 14px;
    padding: 11px;
    text-shadow: 1px 1px #FFFFFF;
}
table.table td {
    color: #606060;
    padding: 5px;
}
table.table td input {
    padding: 3px 4px;
}
.table tr.highlighted {
    background-color: #FBFCE7 !important;
}
table.table {
    border-bottom: 1px solid #D7D7D7;
    font-size: 0.85em;
    line-height: normal;
    text-align: center;
}
.head-table td {
    border-color: #000000;
    border-style: solid;
    border-width: thin;
}
