{% extends "html5/base.html" %}
{% block title %}
{% endblock%}
{% block content %}
<div class="container">
<div class="row">
<header>
<h1>Список мастеров</h1>
</header>

<div class="span12">
    <div class="well">
    <form class="form-inline" style="float: right" method="post">
  <span class="help-inline">От</span> <input type="date" class="input-medium" name="date1" placeholder="дата от" value="{{ date1 }}">
  <span class="help-inline">до</span> <input type="date" class="input-medium" name="date2" placeholder="дата до" value="{{ date2 }}">
  <label class="checkbox">
    <input type="checkbox"  name="finish" {% if finish %}checked="checked" {% endif %}> Только завершенные
  </label>

  <button type="submit" class="btn">Найти</button>
</form></div>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-condensed table-striped table-bordered" id="example">
    <thead>
        <th>ФИО мастера</th>
        <th>Количество обработанных заказов за период</th>
        <th>Сумма завершенных заказов</th>
        <th>Дата последнего заказа</th>
    </thead>
    <tbody>
    {% for person in persons %}
    <tr {% if  person.active %}class="success" {% endif %}>
        <td><a href='{% url person:person_edit person.id %}'>{{ person.get_fio }}</a></td>
        <td>{{ person.count }}</td>
        <td>{{ person.sum_sum }}</td>
        <td>{{ person.last_date|date:"d.m.Y H:i" }}</td>
    </tr>
    {% endfor %}
    </tbody>

    </table>
</div>
</div>
</div>

{% endblock %}
