{% extends "html5/base.html" %}
{% block title %}
{% endblock%}
{% block content %}
<div class="container">
<div class="row">
<header>
<h1>{% if person_id %}Просмотр {% else %}Добавление{% endif %} {{ person.in_name }}</h1>
</header>

<div class="span3">
    <h3>Данные {{ person.in_name }}</h3>
   {% if form.errors %}
   <div class="alert alert-error">
       {{ form.errors }}
   </div>
   {% endif %}

    {% if success %}
    <div class="alert alert-success">
        {{ success }}
    </div>
    {% endif %}

<form method="POST" action="" accept-charset="UTF-8">
    <div class="input-append">
      {{ form.fio_full }}
    </div>
    {{ form.orgname }}
    {{ form.phone }}
    {{ form.email }}
    {{ form.id }}
    {{ form.city }}
    {{ form.subcity }}
    {{ form.street }}
    {{ form.home }}
    {{ form.apt }}
    {{ form.types }}
    <label class="checkbox">
        {{ form.master }} Это мастер?
    </label>
    <label class="checkbox">
        {{ form.active }} Активен?
    </label>
    {{ form.comment }}

    <button type="submit" class="btn btn-block btn-success">Сохранить пользователя</button>
</form>
</div>
{% if person_id %}
<div class="span8 offset1">
    <h3>Заказы {{ person.in_name }}</h3>
    <div class="row">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
    <thead>
        <th>№ заказа</th>
        <th>Дата заказа</th>
        <th>{{ person.other_name }}</th>
        <th>Сумма</th>
        <th>Статус</th>

    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            <td><a href="{% url order:order_edit order.id %}">{{ order.id|cut:" " }}</a></td>
            <td>{{ order.date|date:"d.m.Y H:i" }}</td>
            {% if person.master %}
                <td>{{ order.client}}{% if order.client %} <a href="{% url person:person_edit order.client.id %}" {% endif %}>-></a></td>
            {% else %}
                <td>{% if order.master %} {{ order.master}} <a href="{% url person:person_edit order.master.id %}">-></a> {% endif %}</td>
            {% endif %}
            <td>{{ order.sum_sum }}</td>
            <td>{{ order.status }}</td>
        </tr>
    {% endfor %}
    </tbody>

    </table>
    </div>
</div>
{% endif %}
</div>
</div>

{% endblock %}
