{% extends "html5/base.html" %}
{% block title %}
{% endblock%}
{% block content %}
<div class="container">
<div class="row">
<header>
<h1>Список клиентов</h1>
</header>

<div class="span12">
    <div class="well">
    <form method="POST" class="form-inline" style="float: right">
      <span class="help-inline">Поиск клиента:</span> <input type="text" name="full_fio" class="input-medium" value="{{ full_fio }}" placeholder="ФИО">
     <span class="help-inline">Организация:</span> <input type="text" name="orgname" class="input-medium" value="{{ orgname }}" placeholder="Организация">
      <span class="help-inline">телефон</span> <input type="tel" name="phone" class="input-medium" value="{{ phone }}" placeholder="Телефон">
      <button type="submit" class="btn">Найти</button>
    </form>
    </div>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-condensed table-striped table-bordered" id="example">
    <thead>
        <th>ФИО пользователя</th>
        <th>Организация</th>
        <th>Количество сделанных заказов</th>
        <th>Сумма завершенных заказов</th>
        <th>Дата последнего заказа</th>
    </thead>
    <tbody>
    {% for person in persons %}
    <tr>
        <td><a href='{% url person:person_edit person.id %}'>{{ person.get_fio }}</a></td>
        <td>{{ person.orgname }}</td>
        <td>{{ person.count }}</td>
        <td>{{ person.sum_sum }}</td>
        <td>{{ person.last_date|date:"d.m.Y H:i" }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
</div>
</div>

{% endblock %}