{% extends "html5/base.html" %}
{% block title %}
{% endblock%}
{% block content %}
<div class="container">
<div class="row">
<header>
<h1>Добавление клиента</h1>
</header>

<div class="span3">
    <h3>Данные клиента</h3>
   {% if form.errors %}
   <div class="alert alert-error">
       {{ form.errors }}
   </div>
   {% endif %}

    {% if success %}
    <div class="alert alert-success">
        Успешно добавлен
    </div>
    {% endif %}

<form method="POST" action="" accept-charset="UTF-8">
    <div class="input-append">
      {{ form.fio_full }}
    </div>
    {{ form.orgname }}
    {{ form.phone }}
    {{ form.street }}
    {{ form.home }}
    {{ form.apt }}

    <label class="checkbox">
        {{ form.master }} Это мастер?
    </label>

    <button type="submit" class="btn btn-block btn-success">Сохранить пользователя</button>
</form>
</div>

<div class="span8 offset1">
    <h3>Заказы клиента</h3>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
    <thead>
        <th>№ заказа</th>
        <th>Дата заказа</th>
        <th>Мастер</th>
        <th>Стоимость</th>
        <th>Статус</th>

    </thead>
    <tbody>
    <tr>
        <td><a href="">155</a></td>
        <td>5.12.2013</td>
        <td>Иванов И.М.</td>
        <td>5 000р</td>
        <td>Завершен</td>
    </tr>
    <tr>
        <td><a href="">156</a></td>
        <td>5.12.2013</td>
        <td>Иванов И.М.</td>
        <td>5 000р</td>
        <td>В процессе</td>
    </tr>
    </tbody>

    </table>
</div>

</div>
</div>

{% endblock %}