<!DOCTYPE html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">

    <title>Авторизация</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <link rel="stylesheet" href="http://llic.ru/media/css/jq.css" type="text/css" media="print, projection, screen" />
    <!--<link rel="stylesheet" href="http://llic.ru/media/css/blue/style.css" type="text/css" media="print, projection, screen" />-->
    <script type="text/javascript" src="http://llic.ru/media/js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="http://llic.ru/media/js/addons/pager/jquery.tablesorter.pager.js"></script>
    <script type="text/javascript" src="http://llic.ru/media/js/chili/chili-1.8b.js"></script>
    <script type="text/javascript" src="http://llic.ru/media/js/docs.js"></script>

<link href="http://llic.ru/css/bootstrap.min.css" rel="stylesheet">
<script src="http://llic.ru/js/bootstrap.min.js"></script>


</head>
<body>
 <div class="container" style="margin-top:240px;">
        <div class="row">
            <div class="well span4 offset4">
                <legend>Авторизация</legend>
                {% if error %}
                <div class="alert alert-error">
                    <a class="close" href="" data-dismiss="alert">x</a> Неверный логин или пароль
                </div>
                {% endif %}

                <form method="POST" action="" accept-charset="UTF-8">
                    <input type="text" class="span4" placeholder="Введите логин" name="login">
                    <input type="password" class="span4" placeholder="Введите пароль" name="password">

                    <button type="submit" class="btn btn-block btn-success">Войти</button>
                </form>
            </div>
        </div>
    </div>
</body>
