{% extends "html5/base.html" %}
{% block title %}
{% endblock%}
{% block content %}
<div class="container">
<div class="row">
<header>
<h1>Список заказов</h1>
</header>

<div class="span12">
    <div class="well">
    <form class="form-inline" style="float: right" method="POST">
  <span class="help-inline">От</span> <input type="date" name="date1" class="input-medium" placeholder="дата от" value="{{ request.post.date1 }}">
  <span class="help-inline">до</span> <input type="date" name="date2" class="input-medium" placeholder="дата до" value="{{ request.post.date2 }}">
  <select name="type" style="width:76px">
        <option value="any">Любой</option>
        {% for type in types %}
            <option value="{{ type.id }}" {% if type.id == post_type %} selected="selected" {% endif %}>{{ type.name }}</option>
        {% endfor %}
  </select>
  <select name="show"  style="width:150px">
        <option value="any">Любой</option>
        {% for stat in show_stats %}
            <option value="{{ stat.id }}" {% if stat.id == show %} selected="selected" {% endif %}>{{ stat.name }}</option>
        {% endfor %}
  </select>
  <select name="master"  style="width:150px">
        <option value="any">Любой</option>
        {% for master in masters %}
            <option value="{{ master.id }}" {% if master.id == post_master %} selected="selected" {% endif %}>{{ master }}</option>
        {% endfor %}
  </select>


  <button type="submit" class="btn">Найти</button>
</form></div>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-condensed table-striped table-bordered" id="example">
    <thead>
        <th>№</th>
        <th class="print_hide">тип</th>
        <th>Дата заказа</th>
        <th>ФИО + Адрес</th>
        <th>Коммент</th>
        <th>Мастер</th>
        <th>Сумма</th>
        <th>Мат+Расх</th>
        <th>Зп</th>
        <th>Статус</th>

    </thead>
    <tbody>
    {% for order in orders %}
        <tr {% if order.is_red %}class='error'{% endif %} {% if order.type_id == 2 %}class="info"{% endif %}>
            <td><a href="{% url order:order_edit order.id %}" class="print_hide">{{ order.id|cut:" " }}</a> <span class="print_show">{{ order.id|cut:" " }}</span> </td>
            <td class="print_hide">{% if order.type %}{{ order.type_id }}{% endif %}</td>
            <td>{{ order.date|date:"Y.m.d H:i" }}</td>
            <td>{% if order.orgname %}{{ order.orgname }}: {{ order.get_main_name }}{% else %}{{ order.get_full_fio }}{% endif %};
                {% if order.subcity %}{{ order.subcity }}, {% endif %}
                {% if order.street %}{{ order.street }}, {% endif %}
                {% if order.home %}д.{{ order.home }}, {% endif %}
                {% if order.apt %}кв.{{ order.apt }}{% endif %}</td>
            <td>{{ order.comment }}</td>
            <td>{% if order.master %}{{ order.master }} <a href="{% url person:person_edit order.master.id %}">-></a>{% else %} Нет {% endif %}</td>
            <td>{% if order.sum_sum %}{{ order.sum_sum }}{% endif %}</td>
            <td>{% if order.sum_mat %}{{ order.sum_mat }}+{{ order.sum_trans }}{% endif %} </td>
            <td>{% if order.sum_zp %} {{ order.sum_zp }} {% endif %}</td>
            <td>{% if order.status %}{{ order.status }}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>

    </table>
    <div id="sums">
   Сумма заказов - {{ sum_sum }} рублей <br>
   Сумма материалов - {{ sum_mat }} рублей <br>
   Сумма расходы - {{ sum_trans }} рублей <br>
   Сумма зарплаты - {{ sum_zp }} рублей <br>
   <strong>Прибыль - {{ pribil }} рублей</strong>
        </div>
</div>
</div>
</div>

{% endblock %}