{% extends "html5/base.html" %}
{% block title %}
{% endblock%}
{% block content %}
<script>
$(function() {
    $("button#search-user").live('click', function(){
        full_fio = $("input[name=full_fio]").attr('value');
        phone = $("input[name=phone]").attr('value');
        order_id = {{ order.id|cut:" " }}
        url = '{% url person:person_search %}';
        $.ajax({
            url: url,             				   // указываем URL и
            type: "POST",
            data: {full_fio: full_fio, phone:phone, order_id:order_id},
            dataType : "text",                     // тип загружаемых данных
            success: function (data, textStatus)
            { // вешаем свой обработчик на функцию success
                 $('div.find_persons').html(data);
            }
        });
    })

    $("input[type=text]").live('click', function(){
        $(this).select()
    })
     $("i[class=icon-pencil]").live('click', function(){
        row_id = $(this).attr('row_id');
        order_id = $(this).attr('order_id');
        url = '{% url order:row_add %}';
        $.ajax({
            url: url,             				   // указываем URL и
            type: "POST",
            data: {id: row_id, order_id: order_id},
            dataType : "text",                     // тип загружаемых данных
            success: function (data, textStatus)
            { // вешаем свой обработчик на функцию success
                 $("tr#"+row_id).html(data);
            }
        });

    })

     $("i[class=icon-remove]").live('dblclick', function(){
        row_id = $(this).attr('row_id');
        order_id = $(this).attr('order_id');
        url = '{% url order:row_del %}';
        $.ajax({
            url: url,             				   // указываем URL и
            type: "POST",
            data: {id: row_id, order_id: order_id},
            dataType : "text",                     // тип загружаемых данных
            success: function (data, textStatus)
            { // вешаем свой обработчик на функцию success
{#                 $("tr#"+row_id).html('');#}
                location.reload();
            }
        });

    })

     $("a.add-row").live('click', function(){
        url = '{% url order:row_add %}';
        order_id = $(this).attr('order_id');
        $.ajax({
            url: url,             				   // указываем URL и
            type: "POST",
            data: {order: order_id},
            dataType : "text",                     // тип загружаемых данных
            success: function (data, textStatus)
            { // вешаем свой обработчик на функцию success

                 $("tr.last").after("<tr>"+data+"</tr>");
            }
        });
        return false;

    })

    $("input.save_row").live('click', function(){
        var inp_date = $("form#row_form").serialize();
{#        $.ajax({#}
{#            url: url,             				   // указываем URL и#}
{#            type: "POST",#}
{#            data: {id: row_id, order_id: order_id},#}
{#            dataType : "text",                     // тип загружаемых данных#}
{#            success: function (data, textStatus)#}
{#            { // вешаем свой обработчик на функцию success#}
{#                 $("tr#"+row_id).html(data);#}
{#            }#}
{#        });#}

    })





});
</script>

<div class="container">
<div class="row">
<header>
{% if order_id %}
<h1>Заказ № {{ order_id }}</h1>
{% else %}
<h1>Оформление заказа</h1>
{% endif %}
</header>

<div class="span4">

        {% if order.client %}
        <a target="_blank" href="{% url person:person_edit order.client.id %}" class="label label-info" style="cursor: pointer;"><i class="icon-user icon-white" ></i> {{ order.client }}</a>
        <span data-toggle="collapse" data-target="#person_search" style="cursor: pointer;"><i class="icon-user icon-white" ></i> Изменить</span>
        {% else %}
            <span data-toggle="collapse" data-target="#person_search" class="label label-info" style="cursor: pointer;"><i class="icon-user icon-white" ></i> Выбрать из базы</span>
        {% endif %}
        <div  id="person_search" class="collapse out">
        <div class="well well-small form-inline" style="margin-bottom: 5px;" >
        <input type="text" name="full_fio" class="input-small" value="" placeholder="ФИО">
        <input type="tel" name="phone" class="input-small" value="" placeholder="Телефон">
        <button type="submit" class="btn" id="search-user"><i class="icon-search icon"></i></button>
        <div class="find_persons">
        </div>
        </div>
        </div>


    <div style="margin-top:10px;">
        <form action="" method="POST">
        {{ form.errors }}
        {{ form.id }}
        {{ form.fio_full }}
        {{ form.orgname }}
        {{ form.phone }}
        {{ form.email }}
        Адрес:
        {{ form.subcity }}
        {{ form.street }}
        {{ form.home }}
        {{ form.apt }}

        {{ form.type }}

        <span class="help-block">Комментарий:</span>
        {{ form.comment }}
        <span class="help-block">Мастер:</span>
        {{ form.master }}
        <span class="help-block">Статус:</span>
        {{ form.status }}
        <button type="submit" class="btn btn-block btn-success">Отправить заказ</button>
        </form>
    </div>
</form>
</div>
<div class="span8">
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed">
    <thead>
        <th>Услуга</th>
        <th>Сумма</th>
        <th>Материалы</th>
        <th>Расходы</th>
        <th>Зарплата</th>
        <th>Комментарий</th>
    </thead>
    <tbody>
    {% if rows %}
    {% for row in rows %}
        <tr id="{{ row.id|cut:" "}}" {% if forloop.last %}class="last"{% endif %}>
          <td>{{ row.item_name }}</td>
          <td>{{ row.price_sum }}</td>
          <td>{{ row.price_mat }}</td>
          <td>{{ row.price_trans }}</td>
          <td>{{ row.price_zp }}</td>
          <td>{% if row.comment %}{{ row.comment }}{% endif %}</td>
          <td><i class="icon-pencil" style="cursor: pointer;" row_id="{{ row.id }}" order_id="{{ row.order_id }}"></i>  <i class="icon-remove" style="cursor: pointer;" row_id="{{ row.id }}" order_id="{{ row.order_id }}"></i></td>
        </tr>
    {% endfor %}
    {% else %}
        <tr class="last"></tr>
    {% endif %}
    <tr class="info">
        <td>Итого</td>
        <td>{{ order.sum_sum }}</td>
        <td>{{ order.sum_mat }}</td>
        <td>{{ order.sum_trans }}</td>
        <td>{{ order.sum_zp }}</td>
        <td> </td><td> </td>
    </tr>
    </tbody>
</table>
    <a href="" class="label label-success add-row" order_id="{{ order.id }}"><i class="icon-plus icon-white" ></i>Добавить услугу</a>
</div>

</div>
</div>

{% endblock %}