<!DOCTYPE html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">

    <title>{% block title %} {% endblock%}</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <link rel="stylesheet" href="http://llic.ru/media/css/jq.css" type="text/css" media="print, projection, screen" />
    <link rel="stylesheet" href="http://llic.ru/media/css/DT_bootstrap.css" type="text/css" media="print, projection, screen" />

    <!--<link rel="stylesheet" href="http://llic.ru/media/css/blue/style.css" type="text/css" media="print, projection, screen" />-->
    <script type="text/javascript" src="http://llic.ru/media/js/chili/chili-1.8b.js"></script>
    <script type="text/javascript" src="http://llic.ru/media/js/docs.js"></script>
<script type="text/javascript" src="http://llic.ru/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="http://llic.ru/media/js/DT_bootstrap.js"></script>


<link href="http://llic.ru/css/bootstrap.min.css" rel="stylesheet">
<script src="http://llic.ru/js/bootstrap.min.js"></script>



    <style>
        span.label a{color:#fff}
        .hidden{display:none}
        div.control{display:none}
        td:hover div.control{display:block}
        .print_show{display:none}
        @media  print {
            div.navbar, .navbar-inner, .well, #example_length, .dataTables_paginate, #sums,#example_info, #example_filter, .print_hide {display:none !important;}
            .print_show{display:block; !important}
        }

    </style>
</head>
<body id="html5">
<div class='navbar navbar-static-top'>
    <nav class='navbar-inner'>
        <ul class="nav">
            <li class="divider-vertical"></li>
            <li><a href="/order/list/"><i class="icon-th-list"></i> Список заказов</a></li>
            <!--<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Page2 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="">page 2_1</a></li>
                    <li><a href="">page 2_2</a></li>
                    <li><a href="">page 2_3</a></li>
                    <li><a href="">page 2_4</a></li>
                </ul>
            </li>-->
            <li><a href="/order/add/">Добавить заказ</a></li>
            <li><a href="/person/list/">Список клиентов</a></li>
            <li><a href="/person/master-list/">Список мастеров</a></li>
            <li><a href="/person/add/">Добавить пользователя</a></li>
        </ul>
        <!--<form class="navbar-form pull-right">
            <input type="text" class="search-query" placeholder="Универсальный поиск">
        </form> -->
    </nav>
</div>
<div class="container-fluid">
{% block content %}{% endblock %}
</div>
</body>
</html